body {
            background: purple;
            text-align: center;
}

h1, h3 {

        color: white;
}

a {

    color: white;
    text-decoration: none;
    background: orange;
    padding: 20px;
    border-radius: 5px;

}

a:hover {
    background: red;
}

p, ul, table, ol {
    background-color: white;
    text-align: left;
}

th, td {
    border: 1px solid blue;
}

dl {
    background-color: lightgrey;
}

code {
    font-size: larger;
    font-weight: bold;
    color: blue;
}