body {
    font-family: sans-serif;
    font-size: inherit;
    margin: 0;
    padding: 3%;
}

html {
    font: caption;
    margin: 0;
    padding: 0;
}

form {
    font: caption;
    margin-bottom: 1em;
}

fieldset {
    border: 1px dotted #666666;
    margin: 0;
    padding: 1.5%;
}

#schema, #doc, #nsfilter {
    width: 99%;
}

table {
    table-layout: fixed;
    width: 100%;
}

h1, h2 {
    font-size: 1.2em;
    font-weight: bold;
}

h3 {
    font-size: 1em;
    font-weight: bold;
    margin-top: 2em;
}

h1 span {
    color: #aaaaaa;
}

fieldeset td, fieldeset th {
    padding-bottom: 0.4em;
    padding-top: 0.4em;
}

tr:first-child td, tr:first-child th {
    vertical-align: top;
}

fieldset th {
    font-weight: inherit;
    padding-left: 0;
    padding-right: 0.4em;
    text-align: right;
    width: 8em;
}

fieldset td {
    padding-left: 0;
    padding-right: 0;
}

textarea, #doc[type="url"], #schema, #nsfilter {
    font-family: Monaco,Consolas,Andale Mono,monospace;
}

.stats {
    font-size: 0.85em;
}

.success {
    border: 6px double green;
    padding: 0.5em;
}

.failure {
    border: 6px double red;
    padding: 0.5em;
}

ol {
    margin: 1.5em 0;
    padding: 0 2.5em;
}

li {
    margin: 0;
    padding: 0.5em;
}

li ol {
    margin-bottom: 0;
    margin-top: 0.5em;
    padding-right: 0;
}

li li {
    padding-bottom: 0.2em;
    padding-right: 0;
    padding-top: 0.2em;
}

.info {
    background-color: #ccffff;
    color: black;
}

.warning {
    background-color: #ffffcc;
    color: black;
}

.error {
    background-color: #ffcccc;
    color: black;
}

.io, .fatal, .schema {
    background-color: #ff9999;
    color: black;
}

.internal {
    background-color: #ff6666;
    color: black;
}

hr {
    border-color: #666666 -moz-use-text-color -moz-use-text-color;
    border-style: dotted none none;
    border-width: 1px medium medium;
    height: 0;
}

p {
    margin: 0.5em 0;
}

li p {
    margin: 0;
}

.stats {
    margin-top: 0.75em;
}

.lf {
    color: #222222;
}

b {
    background-color: #ff6666;
    color: black;
}

ol.source li {
    padding-bottom: 0;
    padding-top: 0;
}

ol.source b, ol.source .b {
    background-color: #ffffcc;
    color: black;
    font-weight: bold;
}

code {
    white-space: pre-wrap;
    word-wrap: break-word;
}

dl {
    margin-top: 0.5em;
}

dd {
    margin-left: 1.5em;
    padding-left: 0;
}

table.imagereview {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: auto;
    width: 100%;
}

col.img {
    width: 180px;
}

col.alt {
    background-color: #ffffcc;
    color: black;
}

td.alt span {
    background-color: #ffffaa;
    color: black;
}

.imagereview th {
    font-weight: bold;
    text-align: left;
    vertical-align: bottom;
}

.imagereview td {
    vertical-align: middle;
}

td.img {
    padding: 0 0.5em 0.5em 0;
    text-align: right;
}

img {
    max-height: 180px;
    max-width: 180px;
}

th.img {
    padding: 0 0.5em 0.5em 0;
    text-align: right;
    vertical-align: bottom;
}

td.alt, td.location {
    padding: 0 0.5em 0.5em;
    text-align: left;
}

th.alt, th.location {
    padding: 0 0.5em 0.5em;
    vertical-align: bottom;
}

dd code ~ span {
    color: #666;
}

dl.inputattrs {
    display: table;
}

dl.inputattrs dt {
    display: table-caption;
}

dl.inputattrs dd {
    display: table-row;
}

dl.inputattrs > dd > a, dl.inputattrs .inputattrname, dl.inputattrs .inputattrtypes {
    display: table-cell;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 2px;
    word-wrap: normal;
}

dl.inputattrs .inputattrtypes {
    padding-left: 4px;
    padding-right: 4px;
}

.inputattrtypes > a {
    color: #666;
}

dl.inputattrs .highlight {
    background-color: #ffc;
    color: #666;
    font-weight: normal;
    padding-bottom: 2px;
}

[irrelevant], .irrelevant {
    display: none;
}

@media all and (max-width: 24em) {
    body {
        padding: 3px;
    }

    table, thead, tfoot, tbody, tr, th, td {
     display: block;
        width: 100%;
    }

    th {
        padding-bottom: 0;
        text-align: left;
    }
}

#outline h2 {
    margin-bottom: 0;
}

#outline .heading {
    color: #bf4f00;
    font-weight: bold;
}

#outline ol {
    margin-top: 0;
    padding-top: 3px;
}

#outline li {
    list-style: none outside none;
    margin: 0;
    padding: 3px 0;
    position: relative;
}

#outline li li {
    list-style: none outside none;
}

#outline li:first-child:before {
    border-color: #bbb;
    border-style: none none solid solid;
    border-width: 0.1em;
    content: "";
    height: 0.6em;
    left: -0.75em;
    position: absolute;
    top: 0;
    width: 0.5em;
}

#outline li:not(:last-child):after {
    border-color: #bbb;
    border-style: none none solid solid;
    border-width: 0.1em;
    bottom: -0.6em;
    content: "";
    left: -0.75em;
    position: absolute;
    top: 0;
    width: 0.5em;
}
